{% extends "layout.html" %}
<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

<br/><br/>
     <section id ="pricing" class="section-padding">
     <div class="container">

      <div class="row">

    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-success">

			<div class="panel-body">
                <div class="col-md-12">

                <form class="form-login" method="POST" action="/reset-password">
                    <h2>Reset Password</h2><hr/>

                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.email , placeholder='Enter your Email Address') }}


                    <button type="submit" class="btn btn-success">Send me instructions</button>

                </form>
                    <br/>
                     <div style="color:#EC3838;"> {{ message }}</div>

                    <div >
                      {% with messages = get_flashed_messages() %}
                         {% if messages %}
                           {% for message in messages %}
                           <div class="text-center alert alert-info fade in alert-dismissible">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                           {{ message }}
                          </div>
                         {% endfor %}
                         {% endif %}
                      {% endwith %}

                   </div>



                    <hr/>
                    Not a member yet ? <a href="/signup">Sign up here</a>
            </div>
			</div>
		</div>
	</div>
</div>
</div>
    </section>
  {% endblock %}