{% extends "layout.html" %}
<!--Banner-->
{% block content %}
    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
                <div class="text-border">
                <h2 class="text-dec">learn & Earn</h2>
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">Learn Today . . . Earn Tomorrow.</p>
                <p class="small-text"></p>
                <a href="#feature" class="btn get-quote">Internship opportunities</a>
              </div>
              <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
              </div>
              <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Banner-->

<!--
<center>
    <p><img src="../static/img/home/Learn-and-earn.png" class="img-responsive"></p>
</center>
-->

    <!--Start Learning-->
    <section id ="subjects" class="section-padding">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="header-border">Start Learning Now</h2>
          </div>
          <br/><br/>
        </div>
      </div>
      <div class="container">
        <div class="row">
           {% for course in activeCourseList %}
    <div class="course-item" onclick="location.href='{{course[5]}}'">
        <div class="col-md-4 col-sm-6 padleft-right" >
	        <div class="course-div">
	            <figure class="imghvr-fold-up">
	              <img src="{{course[1]}}"img-responsive">
	               <figcaption>
	                  	       <p>{{course[6] | safe }}</p>
	              </figcaption>
	            </figure>
	            <h4 class="text-center">
                    <a href="{{course[5]}}">{{course[0]}}</a>
                </h4><hr/>
	            <p>Duration : {{course[2]}} </p>
	            <p>Course Fees :  {{course[3]}}</p>
                <p>Course Mode :  {{course[4]}}</p><hr/>

	            <div class="text-center">
	            <button class="btn btn-success" onclick="window.location.href='{{course[5]}}'">
                    Enroll Now</button>
	            </div>
	         </div>
         </div>
         </div>
 {% endfor %}


        </div>
      </div>
      <div class="text-center">
      		<button type="button" class="btn btn-success" onclick="window.location.href='/courses'">View All Courses</button>
      </div>

    </section>
    <!--/ Start Learning-->


    <section id ="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="header-border">Internship Opportunities</h2>
              <h3>Put your learning into action...</h3>
          </div>
        </div>

           <center>
               <img src = "../static/img/home/internship.png"  height="250px" width="80%"/>
           </center>

          <br/>

          <!--
          <div class="feature-info">
            <div class="col-md-4 text-center">
            <figure>
              <img src="../static/img/icon/4.png" height="80"><br/>
            </figure>
             <p><h3>Data Engineering</h3></p><br/><br/>
          </div>
         </div>

          <div class="feature-info">
            <div class="col-md-4 text-center">
            <figure>
              <img src="../static/img/icon/3.png" height="80"><br/>
            </figure>
             <p><h3>Web Development</h3></p><br/><br/>
          </div>
         </div>

          <div class="feature-info">
            <div class="col-md-4 text-center">
            <figure>
              <img src="../static/img/icon/2.png" height="80"><br/>
            </figure>
             <p><h3>Data Analytics</h3></p><br/><br/>
          </div>
         </div>
         -->

          <div class="text-center">
      		<button type="button" class="btn btn-success" onclick="window.location.href='/internships'">Click here for details</button>
          </div>

		</div>
	</section>

<!--
    <section id ="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="header-border">Upcoming Courses</h2>
          </div>
          <br/><br/>
        </div>

          {% for course in otherCourseList %}
    <div class="course-item" >
        <div class="col-md-4 col-sm-6 padleft-right" >
	        <div class="course-div">
	            <figure class="imghvr-fold-up">
	              <img src="{{course[1]}}"img-responsive">
	               <figcaption>
	                  <p>{{course[6] | safe }}</p>
	              </figcaption>
	            </figure>
	            <h4 class="text-center">{{course[0]}}</h4><hr/>
	            <p>Duration : {{course[2]}} </p>
	            <p>Course Fees :  {{course[3]}}</p>
                <p>Course Mode :  {{course[4]}}</p><hr/>

	            <div class="text-center">
	            <button class="btn btn-success" disabled>Coming Soon</button>
	            </div>
	         </div>
         </div>
         </div>
 {% endfor %}

          <div class="text-center">
      		<button type="button" class="btn btn-success" onclick="window.location.href='/courses'">View All Courses</button>
      </div>

		</div>
	</section>

-->


<!-- Latest Blog Posts -->
<section id ="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="header-border">Latest Blog Posts</h2>
              <br/>
          </div>
        </div>

        <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
             {% for blogs in blog_lists %}
              <div class="col-md-3">
                <div class="blog-scroll blog-border">
				   <h4 class="entry-title">
                       <a href="{{blogs[1]}}">{{blogs[0]}}</a></h4>
							<div class="entry-summary">
								<p style="font-style:italic"> {{blogs[2]}}[&hellip;]</p>
							</div>
				</div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </div>
        </div>


        <div class="text-center">
      		<button type="button" class="btn btn-success" onclick="window.location.href='/blogs'">View All Blogs</button>
       </div>
      </div>
    </section>
    <!--/ Latest Blog Posts-->


<div class="youtube">
    <center>
        <h2 class="white">Please like & subscribe our channel for more video updates.</h2>
        <a href="https://www.youtube.com/channel/UCO2TU7EerXrYpB1Lyt3257A">
        <img src="../static/img/home/youtube.png" target="_blank" >
        </a>
    </center>
</div>



	<!--What we provide-->
    <section id ="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="header-border">What we provide</h2>
          </div>
            <h3 class="text-center">Connect Students with latest awe-inspiring technologies</h3>
            <br/>

          <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/interactive-live-training.png" height="80" ><br/>
            </figure>
            <p><h4>Interactive Live Training</h4></p><br/><br/>
          </div>
         </div>

            <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/24-learning-platform.png" height="80"><br/>
            </figure>
             <p><h4>24x7 Learning Platform</h4></p><br/><br/>
          </div>
         </div>

          <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/live-project.png" height="80"><br/>
            </figure>
             <p><h4>Live Industry Projects</h4></p><br/><br/>
          </div>
         </div>

         <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/latest-course-curriculum.png" height="80"><br/>
            </figure>
             <p><h4>Latest Course Curriculum</h4></p><br/><br/>
          </div>
         </div>

         <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/trainers-across-globe.png" height="80"><br/>
            </figure>
             <p><h4>Trainers across globe</h4></p><br/><br/>
          </div>
         </div>

         <div class="feature-info">
            <div class="col-md-2 text-center">
            <figure>
              <img src="../static/img/home/hands-on-experience.png" height="80"><br/>
            </figure>
             <p><h4>Hands on Experience</h4></p><br/><br/>
          </div>
         </div>

        </div>
        </div>
    </section>
    <!--/ What we provide-->


<!--
         <section id ="feature" class="section-padding">
              <div class="container">
                <div class="row">
                  <div class=" text-center">
                      <h2 class="header-border">About IEarn</h2>
                  <div class="col-md-12">
                      <h4>IEarn.Tech is a platform which provides end to end service - tutorial,training,
                      evaluation,internship and placement to students and technology professionals
                      with the vision of making them employment ready.

                      <br/><br/>

                      IEarn's platform enables each one of it's member to be in a continuous learning path
                      and stand the test of time .
                      With a unique methodology and well sorted implementation IEarn has successfully
                          placed it's members in reputed enterprises.

                      <br/><br/>

                      All our services are FREE . So, please make best use of it .We would love to hear any
                          feedback from you.

                      <br/><br/><br/>


                          <h3>LEARN TODAY .... EARN TOMORROW....</h3>

                      </h4>

                  </div>
              </div>
                  </div>
                </div>
         </section>


--->



 <!--Subscribe-->
    <section id="cta-2">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Subscribe Now</h2><hr class="bottom-line">
              <h4 class="text-center">Subscribe to stay updated about the latest news letters and upcoming courses.</h4><br/>
             <div class="cta-2-form text-center">
                    <input required placeholder="Enter Your Email Address" type="email" id="subs_email">
                    <input class="cta-2-form-submit-btn" value="Subscribe" type="submit" id="btnSubscription">
             </div>
            </div>
        </div>

          <div class="col-sm-12" >

          <center id="subs_error">
              <div style="color: #D01717;">Enter a valid Email Id ! </div>
          </center><br/>
              <div class="text-center alert alert-info fade in alert-dismissible" id="subs_msg">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                  Thanks for subscribing ...we will keep you updated
                  about our latest blogs, courses and news.
              </div>
          </div>

      </div>
    </section>
    <!--/ Subscribe-->



<div id="fb-root"></div>

{% endblock %}


