{% extends "layout.html" %}
<!--Banner-->
{% block content %}

<header id="head" class="small">
          <div class="container">
              <p>My Courses</p>
          </div>
</header>

<br/>

     <section id ="pricing" class="section-padding">
     <div class="container">

         <div class="col-md-12">


              {% if message %}

              <div class="mycourse-msg">You have not enrolled to any courses !
               <br/><br/>

             <button type="button" class="btn btn-success" onclick="window.location.href='/courses'">Browse Courses</button>


              </div>


              {% endif %}


              {% for usr_course in user_courseList %}


                   <div class="col-md-6 price-table col-sm-12 col-xs-12 mycourses" onclick="location.href='{{usr_course[2]}}'" >
                        <div >
                          <div class="col-md-2">
                              <img class="img-responsive" src="../static/img/icon/course.png"   />
                          </div>
                          <div class="col-md-9">
                                 <h3>{{ usr_course[0] }} </h3>
                          </div>
                          <div class="col-md-1">
                                 <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i></h2>
                          </div>
                        </div>
                   </div>

             {% endfor %}

</div>

	</div>
</div>
</div>
    </section>


     {% endblock %}