{% extends "layout.html" %}
<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

<br/><br/>
     <section id ="pricing" class="section-padding">
     <div class="container">

      <div class="row">

    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-success">

			<div class="panel-body">
                <div class="col-md-12">

                <form class="form-login" method="POST" action="{{ url_for('reset_with_token', token=token) }}">
                    <h2>Change your Password</h2><hr/>

                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.user_password,placeholder='Enter Password') }}
                    {{ wtf.form_field(form.confirm ,placeholder='Confirm Password') }}

                    <br/>

                    <button type="submit" class="btn btn-success">Reset</button>

                </form>
                 <div style="color:#EC3838;"> {{ message }}</div>



                    <hr/>
                    Not a member yet ? <a href="/signup">Sign up here</a>
            </div>
			</div>
		</div>
	</div>
</div>
</div>
    </section>
  {% endblock %}