{% extends "layout.html" %}
<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

<br/>

     <section id ="pricing" class="section-padding">
     <div class="container">

      <div class="row">

    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-success">
            <div class="panel-body">

                <div class="col-md-12">
                <form class="form-signup" method="POST" action="/signup">
                    <h2>Sign up to IEarn.Tech</h2><hr/>

                    {{ form.hidden_tag() }}
                    <div style="background: #3e8eab14;padding: 5px 20px 6px 23px;">
                     {{ wtf.form_field(form.user_role , placeholder='Select User Type') }}
                    </div>

                    <hr/>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >First Name : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.user_fname,placeholder='Enter your First Name') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >Last Name : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.user_lname,placeholder='Enter your Last Name') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >Email Id : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.user_email,placeholder='Enter your Email') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >Phone No : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.user_phoneno,placeholder='Enter your Phone Number') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >Password : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.user_password,placeholder='Enter Password') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-3" >Confirm Password : <font color="red">*</font></label>
                         <div class="col-sm-9">
                           {{ wtf.form_field(form.confirm ,placeholder='Confirm Password') }}
                         </div>
                    </div>

                    <div class="form-group">
                         <label class="control-label col-sm-6" ><div style="color:#EC3838;"> {{ error_msg }} </div></label>
                         <div class="pull-right">
                            <button type="submit" class="btn btn-success">Sign up</button>
                         </div>
                    </div>




                </form>


                <div>


                </div>

                </div>


                <div class="col-md-12"><hr/>
                    Already a member ? <a href="/login">Log in</a>
                </div>
			</div>
		</div>
	</div>
</div>
</div>
    </section>
{% endblock %}