{% extends "layout.html" %}
<!--Banner-->
{% block content %}


<header id="head" class="secondary">
          <div class="container">
              <p>Video Tutorials</p><hr class="bottom-line">
          </div>
</header>


<section id="pricing" class="section-padding" >
<div class="container">


<div class="col-md-12 video-box" >
    <div class="col-md-3">
        <iframe width="300" height="250" allowfullscreen
                src="https://www.youtube.com/embed/qvX_5RnN0AU?controls=1">
        </iframe>
    </div>
    <div class="col-md-9" style="padding: 0px 44px;">
            <h2> Introduction to Data Science and Analytics</h2>
        <p>
                In this session you will learn :<br/>
                1. What is meant by data science and machine learning <br/>
                2. Real life examples of Machine Learning <br/>
                3. Different components of a Data Science Application <br/>
                4. Learning path to become a Data Scientist <br/>
                5. Hands-on demonstration of all components of a data science application through a real life example.<br/>
        </p>
    </div>

</div>

    <div class="col-md-12 video-box">
    <div class="col-md-3">
        <iframe width="300" height="250" allowfullscreen
                src="https://www.youtube.com/embed/17oSeJ1uEWE">
        </iframe>
    </div>
    <div class="col-md-9" style="padding: 0px 44px;">
            <h2>Introduction To Variables & Imputation</h2>
        <p>
            During this session you will learn:<br/>
            1. What is a variable?<br/>
            2. What are different categoriesof variables?<br/>
            3. What are different types of problems faced by data scientists in variables?<br/>
            4. What is imputation?<br/>
            5. What are different types of imputation techniques in data science?<br/>
            6. Hands-on demonstration through real life examples.<br/>
        </p>
    </div>

</div>












</div>
</section>



{% endblock %}