
<html lang="en">
<body style="font-size:medium">


<div>
    <div>

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Hey {{username}} ,</p>
<p>Thanks for Enrolling  the course -</p>
<p>{{ coursename }}</p>
<p>It is a FREE Self Paced Course .</p>

<p>The followings are available in this course</p>
    <li>Study Materials</li>
    <li>Exercises</li>
    <li>Exercise & Solution</li>
    <li>Projects</li>

<p>This course can be accessed at any time by going to <a href="www.iearn.tech">www.iearn.tech</a></p>

    <br/>
    <p><i>Learn Today , Earn Tomorrow.</i></p>
<p>Happy Learning,<br/>
Iearn.tech Team<br/>
www.iearn.tech</p>

</div>
</div>
</div>
    </div>
  </div>


</body>
</html>