<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

<br/><br/>

<section id ="pricing" class="section-padding">
     <div class="container">
        Hello {{email}},
        <br/><br/>

        Someone has requested a link to change your password at IEarn.Tech.
        You can do this through the link below.
        <br/>
        <br/>

        <a href='{{recover_url}}'>Change my Password</a>

        <br/>
        <br/>

        If you didn't request this, please ignore this email.
        <br/>

        Your password won't change until you access the link above and create a new one.
        <br/>
        <br/>
        <br/>
        Regards,<br/>
        Team IEarn.Tech


    </div>
</section>
  {% endblock %}