<html>
<body style="font-size:medium">

<p>Welcome {{ username }} ,</p>

 <div  >
    <div>

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
    <p>We would like to thank you for signing up with <b ><i>Iearn.tech</i></b>.</p>
<p>Iearn.tech is here to create a community for Technology enthusiasts. It’s goal is to provide a platform which will facilitate students and technology professionals to learn new technologies.</p>
<p>Iearn.tech is an ecosystem which provides tutorials, training, internship and placement. Our goal is to help making people more employable in the technology space.</p>
<p>As an introductory offer, all our courses are Free. So, please make the best use of it.</p>
<p>We would love to hear any feedback you have on Iearn.tech.</p><br/>

    <p style="font-size:large"><i>Learn Today , Earn Tomorrow</i></p>

<br/><br/>
<p>Happy Learning,<br/>
    Iearn.tech Team<br/>
    www.iearn.tech
</p>

</div>
</div>
</div>
    </div>
  </div>





</body>
</html>