{% extends "layout.html" %}
<!--Banner-->
{% block content %}


     <section id ="pricing" class="section-padding">
     <div class="container">
          <div class="col-md-12">
       <div class="row">
          <div class="exercise-header">
                <div class="col-sm-1" style="padding: 18px 0px 0px 12px;">
                    <i class="fa fa-chevron-left small" onclick="window.history.back()"></i>
                </div>
                <div class="col-sm-11 text-center" >
                    Data Stucture - Exercises
                </div>
          </div>
        </div>
    </div>


<div class="col-md-12">


<div class="material">

    <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div>

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to create an Enum object and display a member name and value.</strong></p>
<p>Sample data :</p>
<p>Afghanistan = 93</p>
<p>Albania = 355</p>
<p>Algeria = 213</p>
<p>Andorra = 376</p>
<p>Angola = 244</p>
<p>Antarctica = 672</p>
<p>Expected Output :</p>
<p>Member name: Albania</p>
<p>Member value: 355</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to iterate over an enum class and display individual member and their value. </strong></p>
<p>Expected Output:</p>
<p>Afghanistan = 93</p>
<p>Albania = 355</p>
<p>Algeria = 213</p>
<p>Andorra = 376</p>
<p>Angola = 244</p>
<p>Antarctica = 672</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to display all the member name of an enum class ordered by their values.</strong></p>
<p>Expected Output:</p>
<p>Country Name ordered by Country Code:</p>
<p>Afghanistan</p>
<p>Algeria</p>
<p>Angola</p>
<p>Albania</p>
<p>Andorra</p>
<p>Antarctica</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to get all values from an enum class. </strong></p>
<p>Expected output:</p>
<p>[93, 355, 213, 376, 244, 672]</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to count the most common words in a dictionary.</strong></p>
<p>Expected Output:</p>
<p>[('pink', 6), ('black', 5), ('white', 5), ('red', 4)]</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to find the class wise roll number from a tuple-of-tuples. </strong></p>
<p>Expected Output:</p>
<p>defaultdict(, {'VII': [1], 'V': [1, 2], 'VI': [1, 2, 3]})</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to compare two unordered lists (not sets).</strong></p>
<p>Expected Output: False</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to create an array contains six integers. Also print all the members of the array.</strong></p>
<p>Expected Output:</p>
<p>10</p>
<p>20</p>
<p>30</p>
<p>40</p>
<p>50</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to get the length of an array.</strong></p>
<p>Expected Output:</p>
<p>Length of the array is:</p>
<p>5</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p><strong>Write a Python program to create a queue and display all the members and size of the queue.</strong></p>
<p>Expected Output:</p>
<p>Members of the queue:</p>
<p>0 1 2 3</p>
<p>Size of the queue:</p>
<p>4</p>

</div>
</div>
</div>
    </div>
  </div>




</div>



</div>


</div>
</div>
     </div>
</div>
    </section>


     {% endblock %}