{% extends "layout.html" %}
<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

     <section id ="pricing" class="section-padding">
     <div class="container">

        <div class="col-md-12">
          <div class=" text-center">
            <h2 class="page-heading">Internship Opportunities</h2>
          </div>
        </div>

<br/>
         <div class="col-md-12">
                <h3 class="text-center">What we Provide</h3><hr/>
                <p>Internships are an excellent opportunity for a student or young worker to solve a real life use case where they work either part time or full time at a company for a certain period of time.
                    Most internships are work experience internships — essentially on-the-job training in a field that the student or young worker wants to learn more about.
                    Iearn.tech connects an internship seeker to various internship opportunities and also provide guidance and support during the internship period. </p>
         </div>


         <div class="row">

             <div class ="col-md-4">
                  <div class="internship-box">
                        <div class="course-card">
                         <div class="course-image">
                            <img class="img-responsive" src="../static/img/icon/4.png" alt="Web Development" />
                        </div><br/>
                        <div class="text-center">
                            <h4 class="course-title">Data Engineering</h4>
                            <p class="course-caption">Design and Develop a data pipeline from scratch</p>
                        </div>
                    </div>
                  </div>
             </div>

              <div class ="col-md-4">
                  <div class="internship-box">
                        <div class="course-card">
                         <div class="course-image">
                            <img class="img-responsive" src="../static/img/icon/2.png" alt="Web Development" />
                        </div><br/>
                        <div class="text-center">
                            <h4 class="course-title">Web Development</h4>
                            <p class="course-caption">Design and Develop a web application from scratch</p>
                        </div>
                    </div>
                  </div>
             </div>

              <div class ="col-md-4">
                  <div class="internship-box">
                        <div class="course-card">
                         <div class="course-image">
                            <img class="img-responsive" src="../static/img/icon/3.png" alt="Web Development" />
                        </div><br/>
                        <div class="text-center">
                            <h4 class="course-title">Data Analytics</h4>
                            <p class="course-caption">Design and Develop a Prediction Engine from scratch</p>
                        </div>
                    </div>
                  </div>
             </div>

         <br/>

         </div>

         <div class="row">

             <div class="col-md-1"></div>

             <div class="col-md-10">
                 <h3 class="text-center">Overview</h3><hr/>
                 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                                <i class="more-less glyphicon glyphicon-plus"></i>Data Engineering</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                                Work on real life industry standard Data Engineering project. Here, you will be able to explore and implement your skills on Data cleansing, Data wrangling and Data pipeline Development skills  in a production  environment.
                       </div>
                </div>
            </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>Web Developement</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                                Work on a real life industry standard Web Application project. Here, you will be able to explore and implement your knowledge and skills on restful web services, user interface development and templating engines in a production  environment.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>Data Analytics</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                                Work on real life industry standard Data Analytics project. Here, you will be able to explore and implement your skills on Data Analysis, Data Visualization and Machine Learning in a production  environment.
                        </div>
                    </div>
                </div>

            </div>

                 <div class="col-md-1"></div>
         </div>


         </div>


         <div class="col-md-12">
             <br/>
             <div class="col-md-6">

                 <h3>Students will get benefit such us: </h3><hr/>

                    <ul class="trainer-quality">
                        <p> <i aria-hidden="true" class="fa fa-check-square"></i> In depth knowledge in the field</p>
                        <p><i aria-hidden="true" class="fa fa-check-square"></i>&nbsp;Hands-on experience</p>
                        <p><i aria-hidden="true" class="fa fa-check-square"></i>&nbsp;Gather knowledge on industry standards</p>
                        <p><i aria-hidden="true" class="fa fa-check-square"></i>&nbsp;Interaction with Subject Matter Experts</p>
                        <p><i aria-hidden="true" class="fa fa-check-square"></i> Team working experience</p>
                        <p><i aria-hidden="true" class="fa fa-check-square"></i> Experience of a production environment</p>
                    </ul>

             </div>

             <div class="col-md-6 text-center">


                 <div class="col-md-12 col-sm-12 col-xs-12">
                          {% with messages = get_flashed_messages() %}
                         {% if messages %}
                               {% for message in messages %}
                           <div class="text-center alert alert-info fade in alert-dismissible">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                               {{ message }}
                          </div>
                         {% endfor %}
                         {% endif %}
                      {% endwith %}

                 </div>



                 <div class="panel panel-success">

			        <div class="panel-body">
                    <h3 class="text-center">Internship Application form</h3><hr/>
                         <form class="form-horizontal" action="/internship-apply" method="post">
                                 {{ form.hidden_tag() }}
                             <div class="form-group">
                              <label class="control-label col-sm-2">Name</label>
                              <div class="col-sm-9">
                                     {{ wtf.form_field(form.name , placeholder='Enter your Name') }}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-sm-2" >Email</label>
                              <div class="col-sm-9">
                                    {{ wtf.form_field(form.email , placeholder='Enter your Email') }}
                              </div>
                            </div>

                             <div class="form-group">
                              <label class="control-label col-sm-2" >Phone</label>
                              <div class="col-sm-3">
                                   {{ wtf.form_field(form.phone , placeholder='Enter your phone no') }}
                              </div>


                              <label class="control-label col-sm-2" >Category</label>
                              <div class="col-sm-4">
                                   {{ wtf.form_field(form.category , placeholder='Select Category') }}
                              </div>

                              </div>




                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Apply</button>
                            </div>
                          </form>
                    </div>
                 </div>
             </div>
         </div>

     </div>
    </section>
  {% endblock %}