{% extends "layout.html" %}
<!--Banner-->
{% block content %}


<header id="head" class="blog-heading">
          <div class="container">
              <p>Java Collection Framework Cheat Sheet</p>
              <label class="blog-label"><i>Posted &nbsp;&nbsp;</i> January 15, 2018 </label>
          </div>
</header>

   <section id ="pricing" class="section-padding">
     <div class="container">

<div class="col-sm-12 ">


    <center class="blog-content" >


    <h3>Collection Framework Architechture</h3><br/>
	<img src="../static/img/collection-architecture.jpg" class="img-responsive">
	<br />
	<br />


    <h3>Collection Framework Flow</h3><br/>
	<img src="../static/img/collection-flow.jpg" class="img-responsive"> <br />
	<br />


	<h3>Collection Methods</h3><br/>
	<img src="./static/img/collection-methods.jpg" class="img-responsive"> <br />
	<br />

	<h3>Comparison between different Collections</h3><br/>
	<img src="./static/img/collection-comparison.jpg" class="img-responsive">
	<br />
	<br />

	<h3>Comparing different Maps</h3><br/>
	<img src="./static/img/collection-maps.jpg" class="img-responsive">

<br/>



</center>
</div>
     </div>
    </section>

 {% endblock %}