{% extends "layout.html" %}
<!--Banner-->
{% block content %}

<header id="head" class="secondary">
          <div class="container">
              <div class="col-md-12">
                  <i class="fa fa-graduation-cap"></i>&nbsp;
                  Course Name :   Data Analysis</div>
              <br/>
              <hr class="bottom-line">
          </div>
</header>

<section  class="section-padding">
<div class="container">
<hr/>

     <div class="text-center row course-box">
        <div class="col-sm-3">
		    <h4>Programming languages :&nbsp; <label>Python </label></h4>
        </div>
        <div class="col-sm-3">
		    <h4>Course Fees :&nbsp; <label>FREE </label></h4>
        </div>
         <div class="col-sm-3">
		    <h4>Course Mode :&nbsp; <label>Self Paced </label></h4>
        </div>
        <div class="col-sm-3">
		    <h4>Course Duration : &nbsp; <label>None </label></h4>
        </div>

    </div>
<hr/>

<div class="col-sm-6">
    <h4><b>Course Description :</b></h4><hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>About the course</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      This course is designed to torture the data for it to confess. The course will introduce learner to various techniques to organize and analyze data.
                        The learner will be introduced to various munging, wrangling and engineering and analysis techniques.
                        At the end of the course will be able to leverage data analysis skills to undertake data driven decisions.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>Who should go for this course</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    The course is ideally suited for any one who is interested to work as Data Analyst and need to take data driven decisions. It is also advisable for learners who want to pursue career in the field of data analytics, data engineering, machine learning and AI.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>Prerequisites</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                	The learner should have interest in learning about data analysis and should have ideally completed Fundamentals and Data Structure Course.
               </div>
        </div>
    </div>

</div>
</div>



<div class="col-sm-6">

    <h4><b>Course Curriculum :</b></h4><hr/>

	<div class="panel-group" id="sub-accordion">
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse1">Data Exploration using Pandas</a>
					        </h4>
					      </div>
					      <div id="collapse1" class="panel-collapse collapse">
					        <div class="panel-body">
                                <ul>
                                    <li>Introduction to Pandas</li>
                                    <li>Series</li>
                                    <li>Dataframes</li>
                                    <li>Missing Data</li>
                                    <li>GroupBy</li>
                                    <li>Merging,Joining,and Concatenating</li>
                                    <li>Operations</li>
                                    <li>Data Input and Output</li>
                                </ul>
                            </div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse2">Array Computation in Python using NumPy</a>
					        </h4>
					      </div>
					      <div id="collapse2" class="panel-collapse collapse">
					        <div class="panel-body">
                                <ul>
                                    <li>Introduction to NumPy</li>
                                    <li>Numpy Arrays</li>
                                    <li>Built-in Methods</li>
                                    <li>Random Number Arrays</li>
                                    <li>NumPy Operations</li>
                                    <li>Universal Array Functions</li>
                                    <li>Aggregations</li>
                                    <li>NumPy Indexing</li>
                                    <li>Fancy Indexing</li>
                                    <li>Broadcasting</li>
                                    <li>Selection</li>
                                    <li>Sorting Arrays</li>
                                </ul>
                            </div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse3">Scientific Data Computing in Python using SciPy</a>
					        </h4>
					      </div>
					      <div id="collapse3" class="panel-collapse collapse">
					        <div class="panel-body">
                                 <ul>
                                    <li>Introduction to SciPy</li>
                                    <li>Linear Algebra</li>
                                    <li>Sparse Linear Algebra</li>
                                 </ul>
                            </div>
					      </div>
					    </div>

					     <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse4">Data Wrangling in Python</a>
					        </h4>
					      </div>
					      <div id="collapse4" class="panel-collapse collapse">
					        <div class="panel-body">
                                <ul>
                                    <li>Introduction</li>
                                    <li>Pivoting</li>
                                    <li>Stacking</li>
                                    <li>Melting</li>
                                    <li>Iteration</li>
                                    <li>Conditional Selection</li>
                                    <li>Indexing</li>
                                    <li>Duplicate Handling</li>
                                    <li>Grouping and Aggregation</li>
                                    <li>Handling Missing Values</li>
                                    <li>Combining Data</li>
                                    <li>Handling Dates</li>
                                 </ul>

                            </div>
					      </div>
					    </div>


                        <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse5">Exploratory Data Analysis</a>
					        </h4>
					      </div>
					      <div id="collapse5" class="panel-collapse collapse">
					        <div class="panel-body">
                                 <ul>
                                    <li>EDA - US SalePrice(Housing Price) Case Study</li>
                                    <li>EDA - US Census Case Study</li>
                                 </ul>
                            </div>
					      </div>
					    </div>

					  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class=" text-center">

			{% if not current_user.is_authenticated %}
                <button class="btn btn-success  btn-enroll" onclick="window.location.href='/login'">Enroll Now</button>
		    {% endif %}

            <form action="/enroll-now?course_id=9" method="post">

            {% if current_user.is_authenticated and isEnrolled %}
		        <button class="btn btn-success  btn-enroll" data-toggle="modal" disabled >Enrolled</button>
		    {% endif %}

            {% if current_user.is_authenticated and not isEnrolled %}
		        <button class="btn btn-success  btn-enroll" type="submit">Enroll Now</button>
		    {% endif %}
            </form>

        </div>
    </div>
</div>





</div>

  </section>


{% endblock %}