{% extends "layout.html" %}
<!--Banner-->
{% block content %}

<header id="head" class="secondary">
          <div class="container">
              <div class="col-md-12">
                  <i class="fa fa-graduation-cap"></i>&nbsp;
                  Course Name :   Flask for Beginners</div>
              <br/>
              <hr class="bottom-line">
          </div>
</header>

<section  class="section-padding">
<div class="container">

    <hr/>

     <div class="text-center row course-box">
         <div class="col-md-3">
		    <h4>Programming languages :&nbsp; <label>Python </label></h4>
        </div>
        <div class="col-md-3">
		    <h4>Course Fees :&nbsp; <label>FREE </label></h4>
        </div>
        <div class="col-md-3">
		    <h4>Course Mode :&nbsp; <label>Self Paced </label></h4>
        </div>
        <div class="col-md-3">
		    <h4>Course Duration : &nbsp; <label>None </label></h4>
        </div>

    </div>
<hr/>


<div class="col-md-6">
    <h4><b>Description :</b></h4><hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>About the course</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>Who should go for this course</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>Prerequisites</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">

               </div>
        </div>
    </div>

</div>
</div>



<div class="col-md-6">

    <h4><b>Course Curriculum :</b></h4><hr/>

	<div class="panel-group" id="sub-accordion">
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse1">#sub1</a>
					        </h4>
					      </div>
					      <div id="collapse1" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse2">#sub2</a>
					        </h4>
					      </div>
					      <div id="collapse2" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse3">#sub3</a>
					        </h4>
					      </div>
					      <div id="collapse3" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					     <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse4">#sub4</a>
					        </h4>
					      </div>
					      <div id="collapse4" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					  </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class=" text-center">
            <br/>

			{% if not current_user.is_authenticated %}
                <button class="btn btn-success btn-enroll" onclick="window.location.href='/login'">Enroll Now</button>
		    {% endif %}

            <form action="/enroll-now?course_id=13" method="post">

            {% if current_user.is_authenticated and isEnrolled %}
		        <button class="btn btn-success btn-enroll" data-toggle="modal" disabled >Enrolled</button>
		    {% endif %}

            {% if current_user.is_authenticated and not isEnrolled %}
		        <button class="btn btn-success btn-enroll" type="submit">Enroll Now</button>
		    {% endif %}
            </form>

        </div>
    </div>
</div>





</div>

  </section>


{% endblock %}