{% extends "layout.html" %}
<!--Banner-->
{% block content %}


<header id="head" class="small">
          <div class="container">
              <p>Data Visualization in Python</p>
              <input type="hidden" value="8" id="course_id"/>
          </div>
</header>

 <section id ="pricing" class="section-padding">
<div class="container">

    <div class="col-md-12">

	<div class="col-sm-3">
    <div class="text-center panel-head">Activities</div>
    <nav class="nav-sidebar">
		<ul class="nav tabs panel">
          <li class=""><a href="#tab1" data-toggle="tab">Study Materials</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Exercises</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">Exercises Solution</a></li>
          <li class=""><a href="#tab4" data-toggle="tab">Project</a></li>
          <li class=""><a href="#tab5" data-toggle="tab">Submit Feedback</a></li>
		</ul>
	</nav>

    </div>

<div class="col-sm-9">
<!-- tab content -->
<div class="tab-content">

<div class="tab-pane active text-style" id="tab1">

    <div class="row"><div class="sub-head">Study Materials</div><hr/></div>

<div class="col-sm-12 sub-div-pad" onclick="location.href='/data-visualization-using-matplotlib-material'">
	<div class=" subject-div">
	<h4 class="black">Matplotlib
    <div class="pull-right">
	<a  href="/data-visualization-using-matplotlib-material">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>


<div class="col-sm-12 sub-div-pad" onclick="location.href='/data-visualization-using-seaborn-material'">
	<div class=" subject-div">
	<h4 class="black">Seaborn
    <div class="pull-right">
	<a  href="/data-visualization-using-seaborn-material">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>


<div class="col-sm-12 sub-div-pad" onclick="location.href='/data-visualization-using-plotly-material'">
	<div class=" subject-div">
	<h4 class="black">Plotly and Cufflinks
    <div class="pull-right">
	<a  href="/data-visualization-using-plotly-material">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>


<div class="col-sm-12 sub-div-pad" onclick="location.href='/different-types-data-visualization'">
	<div class=" subject-div">
	<h4 class="black">Different Types of Visualization
    <div class="pull-right">
	<a  href="/different-types-data-visualization">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>


</div>

<div class="tab-pane text-style" id="tab2">
<div class="row"><div class="sub-head">Exercises</div><hr/>

<div class="col-sm-12 sub-div-pad" onclick="location.href='/exercise-matplotlib'">
	<div class=" subject-div">
	<h4 class="black">Matplotlib Exercise
    <div class="pull-right">
	<a  href="/exercise-matplotlib">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>

    <div class="col-sm-12 sub-div-pad" onclick="location.href='/exercise-seaborn'">
	<div class=" subject-div">
	<h4 class="black">Seaborn Exercise
    <div class="pull-right">
	<a  href="/exercise-matplotlib">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>

</div>
</div>

<div class="tab-pane text-style" id="tab3">
    <div class="row"><div class="sub-head">Exercises Solution</div><hr/></div>

<div class="col-sm-12 sub-div-pad" onclick="location.href='/exercise-solution-matplotlib'">
	<div class=" subject-div">
	<h4 class="black">Matplotlib Exercise & Solution
    <div class="pull-right">
	<a  href="/exercise-solution-matplotlib">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>


<div class="col-sm-12 sub-div-pad" onclick="location.href='/exercise-solution-seaborn'">
	<div class=" subject-div">
	<h4 class="black">Seaborn Exercise & Solution
    <div class="pull-right">
	<a  href="/exercise-solution-seaborn">Read <i class="fa fa-chevron-right small"></i></a>
	</div>
    </h4>
    </div>
</div>




</div>

<div class="tab-pane text-style" id="tab4">
    <div class="row"><div class="sub-head">Project</div><hr/>

        <div tabindex="-1" id="notebook" class="feedback-form">
    <div>

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Download the Walmart Sales dataset from kaggle using the below link -</p>
<p><a href="https://www.kaggle.com/c/walmart-sales-forecasting/data">https://www.kaggle.com/c/walmart-sales-forecasting/data</a></p>
<p>Read the file and load it into a data frame.</p>
<p>Plot the following using seaborn and plotly:</p>
<ol>
<li>Plot the distribution of Sales </li>
<li>Plot the distribution of Store</li>
<li>Plot the distribution of Store Type</li>
<li>Plot the distribution of Temperature</li>
<li>Plot the distribution of Fuel Price</li>
<li>Plot the distribution of CPI</li>
<li>Plot the distribution of Unemployment</li>
<li>Plot the relation between Sales and CPI</li>
<li>Plot the relation between Sales and Unemployment</li>
<li>Plot the relation between Sales and Temperature</li>
<li>Plot the relation between Sales and Type Store</li>
<li>Plot the relation between Sales and Day of week</li>
<li>Plot the relation between Sales and Month of year</li>
<li>Plot the relation between Sales and Year</li>
<li>Plot the relation between Sales and Day Type - Weekday, Weekend, Holiday and LongHoliday</li>
<li>Plot the relation between Sales and Fuel price</li>
</ol>

</div>
</div>
</div>
    </div>
  </div>

    </div>
</div>

<div class="tab-pane text-style" id="tab5">
    <div class="row"><div class="sub-head">Submit Feedback</div><hr/></div>

    <div class="col-md-12 feedback-form">

    {% if  not feedback_submitted %}

<div id="feedback-form">

    <p>The feedback you give allows us to continually adapt training to better suit your needs.
    </p>
<br/>
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Poor</th>
        <th>Average</th>
        <th>Good</th>
        <th>Very Good</th>
        <th>Excellent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Rating</td>
        <td><input type="radio" name="content_rating" id="content_rating" value="1"></td>
        <td><input type="radio" name="content_rating" id="content_rating" value="2"></td>
        <td><input type="radio" name="content_rating" id="content_rating" value="3"></td>
        <td><input type="radio" name="content_rating" id="content_rating" value="4"></td>
        <td><input type="radio" name="content_rating" id="content_rating" value="5"></td>
      </tr>
      <tr>
        <td>Overall Rating</td>
        <td><input type="radio" name="overall_rating" id="overall_rating" value="1"></td>
        <td><input type="radio" name="overall_rating" id="overall_rating" value="2"></td>
        <td><input type="radio" name="overall_rating" id="overall_rating" value="3"></td>
        <td><input type="radio" name="overall_rating" id="overall_rating" value="4"></td>
        <td><input type="radio" name="overall_rating" id="overall_rating" value="5"></td>
      </tr>

    </tbody>
  </table>

    <div class="form-group">
      <label for="comments">Comments : </label>
      <textarea class="form-control" rows="5" id="comments"></textarea>
    </div>

    <div class="pull-right">
    <button type="button" class="btn btn-success" value="test" id="btn-feedback" >Submit</button>
    </div>

</div>

    {% endif %}

     {% if  feedback_submitted %}
        <div class="text-center" style="color:#D01717"> Thank you for your feedback !</div>
     {% endif %}


    <div id="feedback-submitted" class="text-center">
        <div style="color:#D01717"> Thank you for your feedback !</div>
    </div>

</div>



</div>





</div>


</div>
    </div>
</div>
 </section>

{% endblock %}